      
        #map-container {
            display: block;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100%;
        }
        #map {
            height: 100%;
            width: 100%;
        }
        .custom-icon {
            border: 2px solid black;
            border-radius: 50%;
            border-color: #004567;
        }

        .leaflet-bar-timecontrol {
            background-color: #004567;
            border: 2px solid #007BFF;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
            font-family: 'Arial', sans-serif;
            padding: 2px;
        }
        .leaflet-control-timecontrol.timecontrol-backward {
        background-color:#004567;
        color: white;
        }
        .leaflet-control-timecontrol.timecontrol-forward {
        background-color:#004567;
        color: white;
        }
        .leaflet-control-timecontrol.timecontrol-play {
        background-color:#004567;
        color: white;
        }
        .leaflet-control-timecontrol.timecontrol-date {
        background-color:#004567;
        color: white;
        }
        .leaflet-control-timecontrol.timecontrol-dateslider {
        background-color:#004567;
        color: white;
        }
        .leaflet-control-timecontrol.timecontrol-speed {
        background-color:#004567;
        color: white;
        }
        .leaflet-bar-timecontrol a:hover {
            background-color: #777A82;
        }